{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}OpenWRT ACP - Login{% endblock %}

{% block page_content %}
    <section id="loginform" class="outer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="page-header">
                        <h2><strong>Authorization Required</strong></h2>
                        <p>Please enter your username and password.</p>
                    </div>
                    {{ wtf.quick_form(form, button_map={'submit':'default'}) }}
                    <br>
                    {# <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p> #}

                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
