{% extends "base.html" %}

<style type="text/css">
    .sortable tr {
        cursor: pointer;
    }
</style>



{% block title %}OpenWRT ACP - Overview{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Network Devices</h1>
    </div>
    <table class="table table-striped table-hover" style="cursor: pointer;">
        <thead>
        <tr>
            <th scope="col">Device Name</th>
            <th scope="col">IP Address</th>
            <th scope="col">Status</th>
            <th scope="col">Version</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">openwrt1</th>
            <td>192.168.78.50</td>
            <td color><strong><span style="color:green">Connected</span></strong></td>
            <td>17.01.4, r3560-79f57e422d</td>
        </tr>
        <tr>
            <th scope="row">openwrt2</th>
            <td>192.168.78.51</td>
            <td color><strong><span style="color:green">Connected</span></strong></td>
            <td>17.01.4, r3560-79f57e422d</td>
        </tr>
        <tr>
            <th scope="row">Unknown</th>
            <td>192.168.78.218</td>
            <td color><strong><span style="color:red">Unknown</span></strong></td>
            <td>Unknown</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
