{% extends "base.html" %}

{% block title %}OpenWRT ACP{% endblock %}

{% block page_content %}

    <style type="text/css">
        {% include "css/bootstrap-editable.css" %}

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        .table > tbody > tr > th {
            vertical-align: middle;
        }
    </style>

    <div class="page-header">
        <h3><strong>Access Points ({{ openwrt_subnet }})</strong></h3>
    </div>

    {% include "openwrt_overview_table.html" %}

    <div class="page-header" />
    <div>
        <button  id="refresh" class="btn btn-primary btn-lg" type="button">Scan Network</button>
        <span id="refresh_status" style="display:none">
            <img style="padding-left: 10px" src="/static/img/loading_32.gif" alt="Loading"
                 style="vertical-align:middle"/>
            <span style="padding-left: 5px">Refreshing statuses of all OpenWRTs ...</span>
        </span>
    </div>

    <div id="refresh_section" style="display:block; max-width: 100%">
        <span id="refresh_text" style="padding-top: 10px; display:inline-block; font-weight: bold">
            OpenWRT refresh status
        </span>
        <div class="progress" style="width: 50%; margin-top: 10px">
            <div id="progress_bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="100" style="width: 0%">
                <span class="progress-bar-label">0/0</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>

    <script>
        var refresh_status = function (json_data) {
            var progress = (json_data.updated_openwrts / json_data.total_openwrts) * parseFloat(100)

            $('.progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
            $('.progress-bar-label').text(json_data.updated_openwrts + '/' + json_data.total_openwrts);

            if (json_data.total_openwrts == null || json_data.total_openwrts == 0) {
                $('#refresh_text').html('Scan status is unknown');
                $('#progress_bar').removeClass('active');
            }
            else if (json_data.updated_openwrts == json_data.total_openwrts) {
                $('#refresh_text').html('Scan finished &#10004; (' + json_data.timestamp + ')');
                // ?
                //$('#progress_bar').removeClass('active');
            }
            else {
                $('#refresh_text').html('Scan in progress (' + json_data.current_openwrt + ') ...');
                $('#progress_bar').addClass('active');
            }
        };

        $(document).ready(function () {
            $.fn.editable.defaults.mode = 'inline';
            $('span[name=comment]').editable();
            $('span[name=comment]').on('save', function (e, params) {
                var openwrtName = $(this).closest('tr').find('th').first().attr('id');
                console.log('OpenWRT name: ' + openwrtName);

                $.ajax({
                    type: 'POST',
                    url: '/openwrt/comment',
                    data: JSON.stringify({
                        openwrt_name: openwrtName,
                        comment: params.newValue
                    }),
                    contentType: "application/json",
                    dataType: 'json'
                });
            });

            $('a[name=openwrt_detail]').click(function () {
                var openwrtName = $(this).closest('tr').find('th').first().attr('id');
                console.log('OpenWRT name: ' + openwrtName);
            });
        });

        namespace = '/ws';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('connect', function () {
            console.log('connected');
        });
        socket.on('refresh_status', function (data) {
            refresh_status(data);
        });
        socket.on('update_status', function (data) {
            if (data.status_type == "started") {
                toastr.info('Configuration update started.', data.openwrt_name);
            }
            else if (data.status_type == "error") {
                toastr.error(data.reason, data.openwrt_name);
            }
            else if (data.status_type == "finished") {
                toastr.success('Configuration update finished.', data.openwrt_name);
            }
            else {
                toastr.error('Unknown update status msg');
            }
        });
        socket.on('openwrts_updated', function (data) {
            location.reload();
            /*$('#openwrts_table').replaceWith((data.table));
            jQuery.ready();*/
        });

        $('select[name=channel_dropdown]').on('change', function () {
            var openwrtName = $(this).closest('tr').find('th').first().attr('id');
            var channel = this.value;
            console.log(channel + ": " + openwrtName);

            socket.emit('update_channel', {"openwrt_name": openwrtName, channel: channel})
        });

        $('button[name=update_btn]').on('click', function () {
            //console.log("clicked: ", $(this).getAttribute('href'));
            var update_endpoint = $(this)[0].getAttribute('href');
            var name = $(this)[0].getAttribute('wrt');
            console.log(name);
            //toastr.info('Configuration update started.', name);

            socket.emit('update_openwrt', {"openwrt_name": name})

            /*$.ajax({
                type: 'POST',
                url: '/openwrt/update/' + name,
                success: function (data, textStatus, xhr) {
                    toastr.success('Configuration update finished.', name);
                },
                error: function (data) {
                    toastr.error('Configuration update failed.', name);
                },
                complete: function (data) {
                },
            });*/
        });

        $('#refresh').click(function () {
            var refresh_section = $('#refresh_section');
            refresh_section.show();

            $.ajax({
                type: 'POST',
                url: '/openwrt/refresh_all',
                success: function (data, textStatus, xhr) {
                    $('#refresh_text').text('Started status refresh job of OpenWRTs ...');
                },
                error: function (data) {
                    if (data.status == 409) {
                        $('#refresh_text').text('Refresh already in progress ...');
                    }
                    else {
                        $('#refresh_text').text('Server error. Je to shit, sorry.');
                    }
                },
                complete: function (data) {
                },
            });
        });
    </script>
{% endblock %}